# list comprehension

In [25]:
nums = list(range(1,11))
my_list = []

In [26]:
for n in nums:
    my_list.append(n)
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
my_list = [n for n in nums]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
my_list = [n**2 for n in nums]
my_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
my_list = [n for n in nums if n%2==0]
my_list

[2, 4, 6, 8, 10]

* I want a (letter, num) pair for each letter in 'abcd' and each number in '0123'

In [46]:
# for loop

# my_list = []
# for letter in 'abcd':
#     for num in range(4):
#         my_list.append((letter, num))
# my_list

# list comprehension
my_list = [(letter, num) for letter in 'abcd' for num in range(4)]
my_list

[('a', 0),
 ('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 0),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 0),
 ('c', 1),
 ('c', 2),
 ('c', 3),
 ('d', 0),
 ('d', 1),
 ('d', 2),
 ('d', 3)]

* ### dictionary comprehension

In [50]:
names = ['Bruce', 'Clark', 'Peter', 'Logan', 'Wade']
heros = ['Batman', 'Superman', 'Spiderman', 'Wolverine', 'Deadpool']

In [54]:
# for loop

# my_dict = {}
# for name, hero in zip(names, heros):
#     my_dict[name] = hero
# my_dict

# dictionary comprehension
my_dict = {name:hero for name, hero in zip(names, heros)}
my_dict

{'Bruce': 'Batman',
 'Clark': 'Superman',
 'Peter': 'Spiderman',
 'Logan': 'Wolverine',
 'Wade': 'Deadpool'}

In [56]:
# adding restrction
my_dict = {name:hero for name, hero in zip(names, heros) if name != 'Peter'}
my_dict

{'Bruce': 'Batman',
 'Clark': 'Superman',
 'Logan': 'Wolverine',
 'Wade': 'Deadpool'}

* ### set comprehension

In [62]:
nums = [1,1,2,1,3,4,3,4,5,5,6,7,8,7,9,9]

# for loop

# my_set = set()
# for n in nums:
#     my_set.add(n)
# my_set

# set comprehension

my_set = set(n for n in nums)
my_set = {n for n in nums} # these two are the same
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

* ### generator expressions (similar to list comprehension)

In [71]:
nums = list(range(1,11))

# def gen_func(nums):
#     for n in nums:
#         yield n*n
# my_gen = gen_func(nums)
# for i in my_gen:
#     print(i, end = ' ')

my_gen = (n*n for n in nums)
for i in my_gen:
    print(i,end = ' ')

1 4 9 16 25 36 49 64 81 100